<div class="navbar-chelita-linda">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-chelita-linda-brand" do %>
  <%= image_tag "beer-atelier-by-chelita-linda-logo.png", height: 50 %>
  <% end %>
  <!-- Right Navigation -->
  <div class="navbar-chelita-linda-right hidden-xs hidden-sm">

    <%= link_to "Nuestros talleres", ateliers_path, class: "navbar-chelita-linda-item navbar-chelita-linda-link" %>
    <%= link_to "Reservar", contact_path, class: "navbar-chelita-linda-item navbar-chelita-linda-link" %>
    <%#= link_to "Regalar", "#", class: "navbar-chelita-linda-item navbar-chelita-linda-link" %>
    <%= link_to "Ubicación", ubicacion_path, class: "navbar-chelita-linda-item navbar-chelita-linda-link" %>

    <!-- Profile picture with dropdown list -->
<!--     <div class="navbar-chelita-linda-item">
      <div class="dropdown">
        <img src="https://kitt.lechelita-linda.com/placeholder/users/ssaunier" class="avatar dropdown-toggle" id="navbar-chelita-linda-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-chelita-linda-dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Log Out</a></li>
        </ul>
      </div>
    </div> -->
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-chelita-linda-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-chelita-linda-dropdown-menu">
    <%= link_to "Nuestros talleres", ateliers_path , class: "navbar-chelita-linda-item navbar-chelita-linda-link" %>
    <%= link_to "Reservar", contact_path, class: "navbar-chelita-linda-item navbar-chelita-linda-link" %>
    <%#= link_to "Regalar", "#", class: "navbar-chelita-linda-item navbar-chelita-linda-link" %>
    <%= link_to "Ubicación", ubicacion_path, class: "navbar-chelita-linda-item navbar-chelita-linda-link" %>
      </ul>
    </div>
  </div>
</div>
