
<div class="banner-index" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://res.cloudinary.com/greggstyle/image/upload/v1534063213/TALLER%20-%20Chelita%20Linda/6109431763_f6edd2aa9f_b.jpg');">
  <div class="banner-content-index">
    <h1>Taller para hacer tu propia cerveza</h1>
<!--     <p>Taller degustación y maridaje</p> -->
  </div>
</div>

<div class="wrapper-orange">
  <br>

  <div class="container">
    <div class="row">
      <% @ateliers.each do |atelier| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= atelier.photo %> );">
          <div class="card-description">
            <h2><%= atelier.name %></h2>
            <br>
            <%  if atelier.price != [ ] %>
            <h5> Lugares disponibles : <%= atelier.places %> max</h5> <br>
            <h5> $<%= atelier.price %></h5>
            <% end %>
          </div>
          <%= link_to "", atelier_path(atelier), class: 'card-link' %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <br>
</div>
